body {
    background-image: "/img/002.jpg";
}
#tudoo { 
    background-image: "/img/002.jpg";
}
h1 {
    color: red;
} 
#poke { 
    display: flex;
    flex-wrap: wrap;
}
.nomee {
    display: flex; 
    justify-content: flex-start; 
    color: black;
    margin: 20px; 
    padding: 5px;
}
.tipoo {
    display: flex; 
    justify-content: flex-start; 
    color: black;
    margin: 20px; 
    padding: 5px;
}
.numeroo {
    display: flex; 
    justify-content: flex-start; 
    color: black;
    margin: 20px; 
    padding: 5px;
}
.tipooo {
    background-color: red;
    display: flex; 
    justify-content: flex-start;
    margin: 20px; 
    color: white;
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    height: 20px;
}
.imagee { 
    display: flex; 
    justify-content: center;
    border: 2px solid black;
    margin: 20px; 
}
.cada {
    color: red;
}
.sucesso { 
    color: red; 
}
.container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
}
.botao {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#cadastro { 
    color: red;
}

#detalhes {
    color: red;
}

#home {
    background-color: red;
    color: white;
    margin-left: 20px;
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 5px;
}
#detail {
    background-color: red;
    color: white;
    margin-left: 100px;
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 5px;
}
a:hover {
    background-color:rgb(246, 143, 143);
}
#titulo {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

section#message {
    padding: 1.5rem;
    background-color: rgb(224, 224, 224);
    color: #004d04;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}
  
span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
}